body {
    margin: 30px;
    font-family: sans-serif;
}

.Card {
   border: 5px solid #ff00ff;
}
.CardHighlight {
    border: 5px solid #ff0000;
}

.CardRotated{
    transform: rotate(180deg);
}
.User_icon{
    border: 5px solid #898c8b;
}
.User_icon_current{
    border: 5px solid #00ffcc;
}
.PlayerHighlight{
    border: 5px solid #ff0000;
}
.BoardTable{
    border: 1px solid black;
}
.Overlay{
    position: absolute;
    inset: 0;
    background-color: aqua;
}
.ScrollBlock{
    overflow: hidden;
    height: 100%;
}