{% extends 'base.html' %}

{% block head %}
<title>Board page</title>
{% endblock %}

{% block body %}
<h1>Welcome to Saboteur!</h1>


    <p>{{ message }}</p>
    <table border="1">
    {% for row in build_board %}
        <tr>
            {% for cell in row %}
{#                <td><img src="../images/{{ cell.image }}" alt="Card"></td>#}
                <td><img src="{{ url_for('static', filename='images/' + cell.image ) }}" alt="Card" style="width:80px;height:125px;"></td>

            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <h2>Your cards {{ player.nickname }}</h2>
    <table>
    <tr>
    {% for card in player.card_in_hands %}

            <td><img src="{{ url_for('static', filename='images/' + card.image ) }}" alt="Card" style="width:80px;height:125px;"></td>

    {% endfor %}
    </tr>
    </table>
{% endblock %}