{% extends 'base.html' %}

{% block head %}
<title>Board page</title>
{% endblock %}

{% block body %}
<h1>Welcome to Saboteur!</h1>


    <p>{{ message }}</p>
  <div>
      <div id="BoardSection">

      </div>
      <div id="CardsInHandSection">

      </div>
      <div id="GameButtons">
          <button id="NextTurnBtn" type="button" onClick="endTurn()" {{ nextTurnBtnVisible }}>End turn!</button>
          <button id="EndGameBtn" type="button" onClick="endGameRound()">End Game!</button>
          <button id="MissTurn" type="button" onClick="missTurn()">Miss turn!</button>
      </div>
      <div style="background: whitesmoke; display: inline-flex; ">
          <div id="PlayersSection" style="min-width: 100%; flex-basis: 0;flex-grow: 1;"></div>
          <div id="SystemChat" style="min-width: 100%; flex-basis: 0; flex-grow: 1;
                                      overflow-y: scroll; max-height: 200px;
                                      flex-direction: column-reverse;"></div>
      </div>
  </div>

<script>
    window.onload = function() {
        getBoard();
        getCardsInHands();
        showPlayers();
        updateChat();
    }
</script>
{% endblock %}