{% extends 'base.html' %}

{% block head %}
<title>Board page</title>
{% endblock %}

{% block body %}
<h1>Welcome to Saboteur!</h1>


    <p>{{ message }}</p>
  <div>
        <div style="display: flex; flex-direction: row">
            <div id="CardsInHandSection"></div>
            <div id="GameButtons">
                <button id="NextTurnBtn" type="button" onClick="endTurn()" {{ nextTurnBtnVisible }}>End turn!</button><br>
                <button id="MissTurn" type="button" onClick="missTurn()">Miss turn!</button><br>
                <button id="EndGameBtn" type="button" onClick="endGameRound()">End Game!</button><br>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div id="BoardSection"></div>
            <div id="PlayersSection" style=" flex-basis: 0;flex-grow: 1;"></div>
        </div>

          <div id="SystemChat" style="overflow-y: scroll; max-height: 200px;
                                      flex-direction: column-reverse; width: 60%">
          </div>
  </div>

<script>
    window.onload = function() {
        getBoard();
        getCardsInHands();
        showPlayers();
        updateChat();
    }
</script>
{% endblock %}