{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block body %}
    <div class="first-form" >
        <form action="{{ url_for("home")}}" method="post">
          <label for="game_type">Game type:</label><br><br>
            <input type="radio" id="AI" name="game_type" value="AI">
            <label for="AI">AI</label><br>
            <input type="radio" id="hot-seat" name="game_type" value="hot-seat">
            <label for="hot-seat">Hot-seat</label><br>
            <input type="radio" id="multiplayer" name="game_type" value="multiplayer">
            <label for="multiplayer">Multiplayer</label><br><br>
          <label for="players_number">Number of players:</label><br>
          <input type="text" id="players_number" name="players_quantity" value=""><br><br>
          <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}
