{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block body %}
    <div class="first-form" >
        <form action="/" method="POST">
          <label for="game_type">Game type:</label><br>
          <input type="radio" id="game_type" name="game_type" value=""><br>
          <label for="players_number">Number of players:</label><br>
          <input type="text" id="players_number" name="game_type" value=""><br><br>
          <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}
