
    <table>
    {% for playerId in range(players|length) %}
        <tr>
        <td style="vertical-align: top;"><table>
        <tr><td><b>{{ players[playerId].nickname }}</b></td></tr>
        <tr><td>
        {% if playerId == current_player %}
            <img class="User_icon_current"
                    id="Player{{ playerId }}"
                    src="{{ url_for('static', filename='images/player_icon2.png')}}" alt="Icon" style="width:40px;height:40px;"
                    onclick="selectPlayer(event)">
         {% else %}
            <img class="User_icon"
                    id="Player{{ playerId }}"
                    src="{{ url_for('static', filename='images/player_icon2.png')}}" alt="Icon" style="width:40px;height:40px;"
                    onclick="selectPlayer(event)">
        {% endif %}
        {% if players[playerId].flag_lamp %}
            <img src="{{ url_for('static', filename='images/block_icon_lamp.png')}}">
        {% endif %}
        {% if players[playerId].flag_hammer %}
            <img src="{{ url_for('static', filename='images/block_icon_hammer.png')}}">
        {% endif %}
        {% if players[playerId].flag_truck %}
            <img src="{{ url_for('static', filename='images/block_icon_truck.png')}}">
        {% endif %}
        </td><td>{% if playerId == current_player %} {{ players[playerId].playerRole }} {% endif %}</td></tr>
        </table></td>
        </tr>
    {% endfor %}
    </table>