{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block body %}
    <div class="second-form" >
        <form action="/" method="POST">

              <label for="pnumber">Number of the player:</label><br>
              <input type="text" id="pnumber" name="pnumber" value=""><br>
              <label for="nickname">Nickname:</label><br>
              <input type="text" id="nickname" name="nickname" value=""><br><br>
              <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}