{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block body %}
    <div class="second-form" >
        <form action="/" method="POST">
            {% for player in players_number %}
               <h2>{{ player }}</h2>
                <label for="nickname">Nickname:</label><br>
                <input type="text" id="nickname" name="nickname" value=""><br><br>
            {% endfor %}
              <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}